.card {
  width: 275px;
  height: 400px;
  border: 2px solid #ccc;
  border-radius: 15px;
position: absolute;  
  margin: 10px;
}


.t1 {
  width: 27px;
  height: 27px;
 position: absolute
 left: 0;
 top: 0;
}

.t2 {
  position: absolute
  width: 95px;
  height: 100px;
 left: 0px;
 top: 0px;
}

.t3 {
  width: 27px;
  height: 27px;
 position: absolute
 right: 0;
 bottom: 0;
}

